img {
    border-radius: 75px;
  }
  h2 {
    font-size: 24px;
  }
  body {
    background-color: slateblue;
    color: white;
    font-family: 'Trebuchet MS';
    text-align: center;
  }
  a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: slateblue;
  }